<footer>
  <div class="social-media">
    <img src="twitter.svg" alt="Logotipo" class="grupo1" />
    <img src="facebook.svg" alt="Logotipo" class="grupo1" />
    <img src="instagram.svg" alt="Logotipo" class="grupo1" />
    <img src="youtube.svg" alt="Logotipo" class="grupo1" />
  </div>
  <div class="derechos">
    <p class="Derechos">&copy; MiEcommerce. Todos los derechos reservados</p>
  </div>
  <div class="tiendas">
    <img src="Apple.svg" alt="Logotipo" class="grupo2" />
    <p class="TextoFooter">App Store</p>
    <img src="Google-play.svg" alt="Logotipo" class="grupo2" />
    <p class="TextoFooter">Google Play</p>
  </div>
</footer>
