* {
  font-family: sans-serif;
}

.contenedorform {
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  height: 60px;
}

.rectangulo {
  position: absolute;
  width: 100%;
  height: 264px;

  background: #0cb093;
}

.saludo {
  width: 100%;
  font-size: 30px;
  padding-top: 0px;

  margin-left: 45px;
}
.formulario {
  position: absolute;
  width: 320px;
  height: 290px;
  left: 480px;
  top: 112px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

html {
  background-color: lavenderblush;
  width: 100%;
}

#contra {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  padding: 0%;
  margin-left: 45px;
  margin-bottom: 5px;
  padding-left: 14px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0px 0px 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 225px;
}

#contraconfirmacion {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  padding: 0%;
  margin-left: 45px;
  margin-bottom: 5px;
  padding-left: 14px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0px 0px 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 225px;
}

#email {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  padding: 0%;
  margin-left: 45px;
  margin-bottom: 5px;
  padding-left: 14px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0px 0px 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 225px;
}

.boton {
  text-align: center;
  width: 238px;
  margin-left: 45px;
  margin-top: 10px;
  border-radius: 20px;
  height: 26px;
  border: 0px;
  background-color: rgba(73, 79, 81, 1);
  color: white;
}

/*
.boton:hover{
  background-color: green;
  color:white
} */

.registrate {
  position: absolute;
  left: 530px;
  top: 410px;
  z-index: 10;
  width: 250px;
  margin: 0%;
  display: inline-block;
}
.logo {
  width: 136px;
  height: 32px;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 24px;
  font-weight: 300;
  vertical-align: center;
}

body {
  display: flex;
  margin: 0;
}
