<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <script
      src="https://kit.fontawesome.com/4070a3aa63.js"
      crossorigin="anonymous"
    ></script>
    <title>Producto</title>
  </head>
  <body>
    <header>
      <!-- logo -->
      <img id="logoEcommerce" src="/MiEcommerce.svg" alt="logo" />
      <!-- search bar -->
      <form class="search" action="#">
        <input type="text" placeholder="Buscar productos..." name="search" />
        <button type="button" class="magnifying">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <!-- cart button -->
      <button type="button" class="cartButton">
        <i class="fas fa-shopping-cart"></i>
      </button>
      <!-- button olivia -->
      <button type="button" class="buttons">
        <div class="buttonElements">
          <div>
            <img class="profilePic" src="/ProfilePic.png" alt="Olivia" />
          </div>
          <div class="alignname"><p>Olivia</p></div>
        </div>
      </button>
    </header>
    <main class="main-container">
      <div class="container">
        <section class="container-root">
          <img src="/arrow-left.svg" alt="" class="container-arrow" />
          <a class="container-volver" href="/">Volver</a>
          <img src="/chevron-right.svg" alt="" class="container-arrow" />
          <a class="container-volver" href="#">Alimentos</a>
        </section>
        <section class="container-producto-detalle">
          <div class="flow-images">
            <img
              src="/D_NQ_NP_717087-MLA41598235072_042020-O.webp"
              alt=""
              class="foto-detalle-flow"
            />
            <img src="/images (2).jpeg" alt="" class="foto-detalle-flow" />
            <img
              src="/D_NQ_NP_705560-MLA44741701921_012021-O.webp"
              alt=""
              class="foto-detalle-flow"
            />
          </div>
          <div class="foto-demostracion">
            <img src="/images (2).jpeg" alt="" class="foto-detalle-xlsize" />
          </div>
          <div class="product-info">
            <p class="title-product">Whiskey Jack Daniels Honey 750ml</p>
            <div class="section-puntos">
              <p class="text-puntos">19.000</p>
              <p class="subtitle-puntos">PUNTOS</p>
            </div>
            <button
              class="button-add-to-cart"
              onclick="location.href='cart.ejs'"
            >
              Agregar al Carrito
            </button>
            <p class="text-product-info">
              Un verdaderamente fabuloso licor de whiskey Jack Daniels. Está
              hecho con una mezcla de ricas especias y suave, miel tersa y el
              resultado es delicioso sobre hielo o café.
              <br />
              <br />
              Aroma de caramelo y roble carbonizado, un poco de flor de naranja,
              miel de de manuka y vanilla.
              <br />
              <br />
              Boca: grueso y cremoso, con notas de vainilla, roble tostado, miel
              de nuevo, un poco de albaricoque también.
              <br />
              <br />
              Acabado: De nuena longitud - redondeado y rico.
              <br />
              <br />
              No incluye vasos, la foto es sólo ilustrativa.
            </p>
          </div>
        </section>
        <section class="text-opciones">
          <p class="text-te-puede-interesar">También te puede interesar</p>
        </section>
        <section class="lista-productos">
          <div class="contenedor-producto">
            <img
              src="/images (1).jpeg"
              alt="whiskey jack"
              class="producto-img"
            />
            <div class="etiqueta">
              <p class="nombre">Coca Cola Lata 220mL Pack Original x8</p>
              <div class="contenedor-puntos">
                <p class="puntos">760</p>
                <p class="leyenda">PUNTOS</p>
              </div>
            </div>
          </div>

          <div class="contenedor-producto">
            <img
              src="/images (1).jpeg"
              alt="whiskey jack"
              class="producto-img"
            />
            <div class="etiqueta">
              <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
              <div class="contenedor-puntos">
                <p class="puntos">XX.XXX</p>
                <p class="leyenda">PUNTOS</p>
              </div>
            </div>
          </div>

          <div class="contenedor-producto">
            <img
              src="/images (1).jpeg"
              alt="whiskey jack"
              class="producto-img"
            />
            <div class="etiqueta">
              <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
              <div class="contenedor-puntos">
                <p class="puntos">XX.XXX</p>
                <p class="leyenda">PUNTOS</p>
              </div>
            </div>
          </div>

          <div class="contenedor-producto">
            <img
              src="/images (1).jpeg"
              alt="whiskey jack"
              class="producto-img"
            />
            <div class="etiqueta">
              <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
              <div class="contenedor-puntos">
                <p class="puntos">XX.XXX</p>
                <p class="leyenda">PUNTOS</p>
              </div>
            </div>
          </div>
        </section>
        <section class="bonus">
          <div class="categorias">
            <div class="category-content">
              <img src="/tablet-cellphone.svg" alt="" class="image-category" />
              <p class="text-categories">Eléctronica</p>
            </div>
            <div class="category-content">
              <img
                src="/hamburger.svg"
                alt="tshirt-crew"
                class="image-category"
              />
              <p class="text-categories">Alimentos</p>
            </div>
            <div class="category-content">
              <img src="/glass-mug-variant.svg" alt="" class="image-category" />
              <p class="text-categories">Bebidas</p>
            </div>
            <div class="category-content">
              <img src="/tshirt-crew.svg" alt="" class="image-category" />
              <p class="text-categories">Juegos</p>
            </div>
            <div class="category-content">
              <img
                src="/controller-classic.svg"
                alt=""
                class="image-category"
              />
              <p class="text-categories">Juegos</p>
            </div>
            <div class="category-content">
              <img src="/steering.svg" alt="" class="image-category" />
              <p class="text-categories">Automotor</p>
            </div>
            <div class="category-content">
              <img src="/sofa-single.svg" alt="" class="image-category" />
              <p class="text-categories">Hogar</p>
            </div>
            <div class="category-content">
              <img src="/gift-outline.svg" alt="" class="image-category" />
              <p class="text-categories">Otros</p>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="social-media">
        <img src="/twitter.svg" alt="Logotipo" class="grupo1" />
        <img src="/facebook.svg" alt="Logotipo" class="grupo1" />
        <img src="/instagram.svg" alt="Logotipo" class="grupo1" />
        <img src="/youtube.svg" alt="Logotipo" class="grupo1" />
      </div>
      <div class="derechos">
        <p class="Derechos">
          &copy; MiEcommerce. Todos los derechos reservados
        </p>
      </div>
      <div class="tiendas">
        <img src="/Apple.svg" alt="Logotipo" class="grupo2" />
        <p class="TextoFooter">App Store</p>
        <img src="/Google-play.svg" alt="Logotipo" class="grupo2" />
        <p class="TextoFooter">Google Play</p>
      </div>
    </footer>
  </body>
</html>
